- task.task_checkboxes.each do |task_checkbox|
    %form
        %div{class: "row gap-2 my-2 mx-0", "data-controller": "task-checkbox", id: "#{task_checkbox.id}"}
            .col-12.col-sm.d-flex.my-2.my-sm-0.px-0
                .col-1.col-sm-1.px-0
                    - if task_checkbox.checked?
                        %input.form-check-input{ type: "checkbox", class: "mt-2", "data-action": "task-checkbox#mark_as_active", remote: true, "checked": "completed" }
                    - else
                        %input.form-check-input{ type: "checkbox", class: "mt-2", "data-action": "task-checkbox#mark_as_completed", remote: true }
                .col-11.col-sm-11.px-0.mx-0
                    .d-sm-flex.gap-2.mr-0
                        %input.form-control.col-12.col-sm{ type: "text", value: task_checkbox.name }
            %div{ class: "col-12 col-sm-2 col-xl-1 px-0", id: "update_btn_container", style: "display: none" }
                %button.btn.btn-primary.my-2.my-sm-0.w-100{ "data-action": "task-checkbox#triggerNameChange" } Update
            .col-12.col-sm-2.col-xl-1.px-0
                = link_to "Delete", task_checkbox_path(task_checkbox), method: :delete, data: { remote: true }, class: "btn btn-outline-danger w-100 w-sm-auto"