- task_checkbox_id = @task_checkbox.id

:plain
  var element = document.getElementById("#{task_checkbox_id}");

  element.style.transition = "opacity 0.5s ease-out";
  element.style.opacity = 0;

  setTimeout(function() {
    element.remove();
  }, 500);